{% extends 'layout.html' %}

{% block body %}
<h1>Dashboard<small>Welcome {{ session.username }}</smail></h1>
<a class="btn btn-success" href="/add_article">Add Articles</a>
<hr>
<table class="table table-striped">
<tr> <th>ID</th>
<th>Title</th>
<th>Author</th>
<th>Date</th>
<th></th>
<th></th>
</tr>
{% for article in articles %}
<tr style="cursor:pointer;" onClick="location.href='articles/{{article.id}}'" onMouseOver ="Window.status='articles/{{article.id}}'" onMouseOut=" window.status =''">
<td>{{article.id}}</td>
<td>{{article.title}}</td>
<td>{{article.author}}</td>
<td>{{article.create_date}}</td>
<td><a href="edit_article/{{article.id}}" class="btn btn-default pullright">Edit</td>
<td><a href="delete_article/{{article.id}}" class="btn btn-danger">Delete</a></td>
{% endfor %}
</table>
{% endblock %}